/__pycache__
/*/__pycache__
/.vscode
/model/*
/*/*.ipynb
/*/*.npz
/*/*.wav
/*/*.npy
/*/tests
/*/test

/dataProcessing/tracking

/emoFormer/runs
/emoFormer/save
/emoFormer/npz
/emoFormer/wav
/emoFormer/result
/emoFormer/train_e2e_10